# ---------------------------------------------------------------------
# My
--extra-index-url http://dev.dstark.nl/py/my/ --trusted-host dev.dstark.nl
my-model==1.2.0-dev
# ---------------------------------------------------------------------
# Database package
sqlmodel
# ---------------------------------------------------------------------
# My data
pydantic
# ---------------------------------------------------------------------
