# ---------------------------------------------------------------------
# My
--extra-index-url http://dev.dstark.nl/py/my/ --trusted-host dev.dstark.nl
my-model==1.0.0
# ---------------------------------------------------------------------
# Database package
sqlmodel
# ---------------------------------------------------------------------
# My data
pydantic
# ---------------------------------------------------------------------